body {
    margin: 0%;
    padding: 5px;
    background: rgb(255, 255, 255);
    /* background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(148, 147, 147, 1) 100%); */
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    padding: 5px;
    display: flex;
    vertical-align: center;
    position: relative;
}

#navIcon {
    display: none;
}

nav ul {
    width: fit-content;
    padding: 5px;
    margin-left: auto;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 900;
}

nav ul li {
    list-style-type: none;
    display: inline;
    margin-right: 40px;
}

nav ul li:hover {
    cursor: pointer;
}

#placeAnOrder {
    font-size: 17px;
    padding: 10px;
    width: 230px;
    background-color: black;
    color: white;
    font-family: cursive;
    border-radius: 10px;
    border-style: none;
}

#placeAnOrder:hover {
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(174, 238, 181, 1) 0%, rgba(233, 206, 148, 1) 100%);
    color: rgb(255, 255, 255);
    font-family: cursive;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
}

#placeAnOrder:active {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: cursive;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
}

#logo {
    width: 80px;
    height: 70px;
}

#imgCoffee {
    width: 500px;
    height: 350px;
    margin-right: 20px;
}

.containText {
    display: inline-flex;
    margin-top: 80px;
}

#yCompany {
    font-size: 40px;
}

.QContain {
    font-family: cursive;
    line-height: 80px;
}

.QContain div {
    line-height: 0px;
}

.imgContain img {
    width: 180px;
    height: 190px;
    margin-right: 30px;
    margin-top: 10px;
    box-shadow: 1px 1px 5px 1.5px rgb(167, 165, 165);
    border-style: none;
}

.imgContain img:hover {
    box-shadow: 2px 2px 10px 3px black;
    cursor: pointer;
}

.imgContain img:active {
    box-shadow: 2px 2px 10px 3px rgb(255, 142, 142);
    cursor: pointer;
}

.imgContain {
    margin-left: 60px;
    margin-top: 40px;
}

#smallStoreM {
    display: none;
}

#mediumStoreM {
    display: none;
}

#mallStoreM {
    display: none;
}

hr{
    width: 100px;
    height: 2px;
    margin-top: 30px;
    background-color:black;
}
#ourOff{
    text-align: center;
    font-size: 30px;
    font-family: cursive;
    color: rgb(56, 56, 56);
}
.insideOurOff{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
}
.Entrepreneurs{
    text-align: right;
    /* border: 1px solid black; */
    width: fit-content;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 50px;
}
.spanEntre{
    line-height: 10px;
    font-size: 30px;
    font-family: cursive;
    
}
.spanPara{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color:grey;
    line-height: 30px;
    width: fit-content;
}
.imgOurOff{
    float: right;
}
#imgOurOff{
    width: fit-content;
}
@media only screen and (max-width: 511px) {
    .containText {
        margin-top: 0px;
        width: 100%;
    }

    nav ul {
        display: none;
    }

    #navIcon {
        display: block;
        margin-left: auto;
        width: 70px;
        height: 60px;
    }

    .imgContain img {
        display: block;
    }

    #smallStoreM {
        width: 270px;
        height: 100px;
        display: block;
    }

    #mediumStoreM {
        width: 270px;
        height: 100px;
        display: block;
    }

    #mallStoreM {
        width: 270px;
        height: 100px;
        display: block;
    }

    .imgContain {
        width: 300px;
        margin-right: auto;
    }

    .QContain {
        text-align: left;
        margin-right: auto;
    }

    #imgCoffee {
        display: none;
    }

    #smallStore {
        display: none;
    }

    #mediumStore {
        display: none;
    }

    #mallStore {
        display: none;
    }

    .insideOurOff{
        display: block;
        position: absolute;
    }
    .spanEntre{
        line-height: normal;
        text-align: center;
    }
    .spanPara{
        text-align: center;
    }
    #imgOurOff{
        border: 1px solid black;
    }
    .spanPara{
        text-wrap: wrap;
    }
}

@media only screen and (max-width: 577px) {
    .containText {
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 0px;
        width: 100%;
        border-radius: 10px;
        text-align: center;
    }

    nav ul li {
        list-style-type: none;
        display: inline;
        margin-right: 10px;
    }

    .imgContain img {
        width: 180px;
        height: 190px;
    }

    .imgContain {
        margin-left: 20px;
    }

    .QContain {
        margin-left: 20px;
    }
}

@media only screen and (max-width: 700px) {
    .containText {
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 0px;
        width: 100%;
        border-radius: 10px;
        text-align: center;
    }

    nav ul li {
        list-style-type: none;
        display: inline;
        margin-right: 20px;
    }

    .imgContain img {
        width: 180px;
        height: 190px;
    }

    .imgContain {
        margin-left: 20px;
    }

    .QContain {
        margin-left: 20px;
    }
    .insideOurOff{
        display: block;
        position: absolute;
    }
    .spanEntre{
        line-height: normal;
        text-align: center;
    }
    .spanPara{
        text-align: center;
    }
    #imgOurOff{
        border: 1px solid black;
    }
    .spanPara{
        text-wrap: wrap;
    }
}

@media only screen and (max-width: 900px) {
    .containText {
        justify-content: center;
        margin-top: 0px;
        width: 100%;
        border-radius: 10px;
        text-align: center;
    }

    nav ul li a {
        font-size: 11px;
    }

    #placeAnOrder {
        font-size: 6px;
        width: 70px;
    }

    .imgContain img {
        width: 180px;
        height: 190px;
    }

    .imgContain {
        margin-left: 20px;
    }

    .QContain {
        margin-left: 20px;
    }
}

@media only screen and (max-width: 1240px) {
    .containText {
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 0px;
        width: 100%;
        border-radius: 10px;
        text-align: center;
    }

    nav ul li a {
        font-size: 18px;
    }

    #placeAnOrder {
        font-size: 6px;
        width: 80px;
    }

    .imgContain img {
        width: 180px;
        height: 190px;
    }

    .imgContain {
        margin-left: 20px;
    }

    .QContain {
        margin-left: 20px;
    }
}

@media only screen and (max-width: 1475px) {
    .QContain div {
        line-height: normal;
        text-align: left;
    }
}